body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* cursor: none; */
}
html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.flexBoxCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexBoxAlignEnd {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.flexBoxAlignStart {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.flexBoxJustifyStart {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flexBoxJustifyEnd {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.flexBoxSpaceAround {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flexWrap {
	flex-wrap: wrap;
	flex-direction: row;
}
.mainContainer {
	height: 100%;
}
.greet {
	height: 100%;
	background-color: #252934;
}

.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 300px;
	transform: translate(-50%, -50%);
}
.intro img {
	height: 50px;
	width: auto;
}
.myLogo {
	/* width: 600px; */
	height: fit-content;
}
.introText {
	height: 50%;
	color: white;
	font-size: xxx-large;
}
.upperText,
.lowerText {
	height: 50%;
}
.introName {
	color: #5de1e6;
	font-style: italic;
}
.introButton {
	height: 50%;
}
.introButton button {
	height: 50px;
	width: 200px;
	color: white;
	border: 3px solid white;
	background-color: transparent;
	font-size: large;
	font-weight: 400;
	transition-duration: 0.5s;
	cursor: pointer;
}
.introButton button:hover {
	background-color: #5de1e6;
	border-color: #5de1e6;
}
.buttonText {
	width: 80%;
	height: 100%;
	justify-content: flex-end;
	padding-right: 5px;
}
.buttonIcon {
	width: 20%;
	height: 100%;
	justify-content: flex-start;
	padding-left: 5px;
}
.introButton button img {
	height: 15px;
	transform: rotate(-90deg);
	transition-duration: 0.3s;
}
.mobileAlert {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: white;
	font-size: medium;
}

@keyframes introButtonIconAnimation {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.topBar {
	height: 50px;
	background-color: #1a1c24;
	width: 100%;
	transition: 1s;
	color: white;
	z-index: 99;
	border-bottom: 2.5px solid #5de1e6;
}
.topBar span {
	width: fit-content;
	padding-left: 4%;
	padding-right: 4%;
	font-size: large;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 0.3s;
}
.topBar img {
	height: 35px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.cursor {
	height: 50px;
	width: 50px;
	border: 2px solid whitesmoke;
	border-radius: 50%;
	position: absolute;
	transform-origin: 100% 100%;
	box-sizing: border-box;
	transition: opacity 0.25s ease;
	pointer-events: none;
	background-color: white;
	mix-blend-mode: difference;
	z-index: 999;
}
.cursorDot {
	height: 12px;
	width: 12px;
	background: white;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: opacity 0.25s ease;
	mix-blend-mode: difference;
	/* z-index: 120; */
}
.grow {
	transform: scale(1.5);
}

@media screen and (min-width: 0) and (max-width: 480px) {
	.introText {
		font-size: x-large;
	}
	.introButton button {
		height: 45px;
		width: 150px;
		font-size: small;
	}
	.topBar span {
		font-size: small;
	}
	.topBar {
		justify-content: flex-start;
	}
	.mobileAlert {
		font-size: x-small;
	}

	#greetCanvas {
		display: none;
	}
}

@media screen and (min-width: 481px) and (max-width: 720px) {
	.introText {
		font-size: xx-large;
	}
	.introButton button {
		height: 50px;
		width: 150px;
		font-size: small;
	}
	.topBar span {
		font-size: medium;
	}

	#greetCanvas {
		display: none;
	}
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
	.introText {
		font-size: xxx-large;
	}
	.skillHeight {
		height: 90%;
	}
	#greetCanvas {
		display: none;
	}
}
