.timeline {
    width: 100%;
    height: 800px;
}
.timelineHeading {
    width: 100%;
    height: 10%;
    font-size: xx-large;
    font-weight: 600;
    color: #252934;
}
.timelineHeading span {
    font-size: xx-large;
    font-weight: 600;
}
.timelineBorder {
    width: fit-content;
    position: relative;
    padding-top: 20px;
    margin-top: 50px;
    padding-bottom: 10px;
    opacity: 0;
}
.timelineBorder::before {
    content: '';
    width: 50%;
    position: absolute;
    border-top: 5px solid #252934;
    left: 25%;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.yearDisplay {
    position: relative;
    left: 220px;
    top: 0;
}
.um {
    width: 100%;
    height: 80%;
}
.um img {
    width: 25%;
    height: auto;
    margin-right: 50px;
}