
.child-container-topnav {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
li {
    float: left;
    padding: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #002033;
    transition-duration: 0.3s;
}
li:hover {
    cursor: pointer;
    background-color: rgba(0, 32, 51, 0.2);
}
.active {
    background-color: #002033;
    color: white;
}
.active:hover {
    background-color: #002033;
}